html
  include ../partials/head
    title Careers
  body
    header.main-header
      .mask
        img.banner-img(src='source/static/img/banner-careers.png', alt='banner-image') 
      include ../partials/header
    .main-content
      .container
        .row
          .col-md-4.col-sm-5
            .careers-image
              .upper-img
                img(src='source/static/img/careers.png', alt='')
                .lower-img
                  img(src='source/static/img/shadow-careers.png', alt='')
          .col-md-8.col-sm-7
            .page-name
              p.xl-title.text-uppercase Careers
              p.sub-title Our opening positions
            .careers-desc
              p.text-justify
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eius,
                | error impedit magnam molestias qui quos rem.
                | Accusamus adipisci consequuntur debitis laboriosam obcaecati pariatur voluptas?4
                | Blanditiis minima quas quisquam sequi?
      .our-offers.grey-section.triangles-right
        .container
          .row-fluid
            .page-name
              p.xl-title.text-uppercase Our offers
              p.sub-title We offering awesome facts
          .row-fluid
            ul.offers-list.list-inline
              li
                img(src='source/static/img/fun-icon.png', alt='')
                .offer-desc
                  a.md-title.text-uppercase(href='#') Fun environment
                  p.text-justify
                    | Lorem Ipsum is simply dummy text of the printing and type
                    | setting industry. Lorem Ipsum has been the industry'
              li
                img(src='source/static/img/compensation-icon.png', alt='')
                .offer-desc
                  a.md-title.text-uppercase(href='#') Compensation
                  p.text-justify
                    | Lorem Ipsum is simply dummy text of the printing and type
                    | setting industry. Lorem Ipsum has been the industry'
              li
                img(src='source/static/img/all-you-need-icon.png', alt='')
                .offer-desc
                  a.md-title.text-uppercase(href='#') All you need
                  p.text-justify
                    | Lorem Ipsum is simply dummy text of the printing and type
                    | setting industry. Lorem Ipsum has been the industry'
              li
                img(src='source/static/img/pleasure-trip-icon.png', alt='')
                .offer-desc
                  a.md-title.text-uppercase(href='#') Pleasure trips
                  p.text-justify
                    | Lorem Ipsum is simply dummy text of the printing and type
                    | setting industry. Lorem Ipsum has been the industry'
      .open-positions
        .container
          .row-fluid
            .page-name
              p.xl-title.text-uppercase Open positions
              p.sub-title Some of our featured vacancy
          .row-fluid
            .vacancies-item
              p.md-title.text-uppercase.pull-left.vacancy-name customer relationship manager
              button.btn.btn-arrow.collapsed.pull-right(data-toggle='collapse', data-target='#vacancy-1')
              #vacancy-1.collapse.vacancy-hidden
                ul.list-inline
                  li
                    p.vacancy-title Mission
                    .vacancy-desc
                      p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  li
                    p.vacancy-title Location
                    .vacancy-desc
                      p Washington DC
                    p.vacancy-title Type
                    .vacancy-desc
                      p Full-time position
                  li
                    p.vacancy-title Require
                    .vacancy-desc
                      ul.check-list
                        li Lorem ipsum dolor sit amet, consectetur.
                        li Praesent in urna at neque varius.
                        li Mauris lobortis orci non viverra semper.
                        li Phasellus tristique sem vitae lorem.
                  li
                    p.vacancy-title Other
                    .vacancy-desc
                      p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                a.btn.btn-orange.btn-xs.text-uppercase.pull-right(href='#') Apply now
            .vacancies-item
              p.md-title.text-uppercase.pull-left.vacancy-name Hg manager
              button.btn.btn-arrow.collapsed.pull-right(data-toggle='collapse', data-target='#vacancy-2')
              #vacancy-2.collapse.vacancy-hidden
                ul.list-inline
                  li
                    p.vacancy-title Mission
                    .vacancy-desc
                      p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  li
                    p.vacancy-title Location
                    .vacancy-desc
                      p Washington DC
                    p.vacancy-title Type
                    .vacancy-desc
                      p Full-time position
                  li
                    p.vacancy-title Require
                    .vacancy-desc
                      ul.check-list
                        li Lorem ipsum dolor sit amet, consectetur.
                        li Praesent in urna at neque varius.
                        li Mauris lobortis orci non viverra semper.
                        li Phasellus tristique sem vitae lorem.
                  li
                    p.vacancy-title Other
                    .vacancy-desc
                      p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                a.btn.btn-orange.btn-xs.text-uppercase.pull-right(href='#') Apply now
            .vacancies-item
              p.md-title.text-uppercase.pull-left.vacancy-name Customer Success Manager
              button.btn.btn-arrow.collapsed.pull-right(data-toggle='collapse', data-target='#vacancy-3')
              #vacancy-3.collapse.vacancy-hidden
                ul.list-inline
                  li
                    p.vacancy-title Mission
                    .vacancy-desc
                      p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  li
                    p.vacancy-title Location
                    .vacancy-desc
                      p Washington DC
                    p.vacancy-title Type
                    .vacancy-desc
                      p Full-time position
                  li
                    p.vacancy-title Require
                    .vacancy-desc
                      ul.check-list
                        li Lorem ipsum dolor sit amet, consectetur.
                        li Praesent in urna at neque varius.
                        li Mauris lobortis orci non viverra semper.
                        li Phasellus tristique sem vitae lorem.
                  li
                    p.vacancy-title Other
                    .vacancy-desc
                      p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                a.btn.btn-orange.btn-xs.text-uppercase.pull-right(href='#') Apply now
            .vacancies-item
              p.md-title.text-uppercase.pull-left.vacancy-name Infrastructure Developer
              button.btn.btn-arrow.collapsed.pull-right(data-toggle='collapse', data-target='#vacancy-4')
              #vacancy-4.collapse.vacancy-hidden
                ul.list-inline
                  li
                    p.vacancy-title Mission
                    .vacancy-desc
                      p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  li
                    p.vacancy-title Location
                    .vacancy-desc
                      p Washington DC
                    p.vacancy-title Type
                    .vacancy-desc
                      p Full-time position
                  li
                    p.vacancy-title Require
                    .vacancy-desc
                      ul.check-list
                        li Lorem ipsum dolor sit amet, consectetur.
                        li Praesent in urna at neque varius.
                        li Mauris lobortis orci non viverra semper.
                        li Phasellus tristique sem vitae lorem.
                  li
                    p.vacancy-title Other
                    .vacancy-desc
                      p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                a.btn.btn-orange.btn-xs.text-uppercase.pull-right(href='#') Apply now

    include ../partials/footer
    include ../partials/scripts