@font-face
  font-family 'OpenSans'
  src url('../../static/fonts/Open-sans/OpenSans-Regular.ttf') format('truetype')

@font-face
  font-family 'OpenSans-Semibold'
  src url('../../static/fonts/Open-sans/OpenSans-Semibold.ttf') format('truetype')

@font-face
  font-family 'OpenSans-Light'
  src url('../../static/fonts/Open-sans/OpenSans-Light.ttf') format('truetype')

@font-face
  font-family 'OpenSans-Bold'
  src url('../../static/fonts/Open-sans/OpenSans-Bold.ttf') format('truetype')

@font-face
  font-family 'Raleway-Bold'
  src url('../../static/fonts/Raleway/Raleway-Bold.ttf') format('truetype')

@font-face
  font-family 'Raleway-ExtraBold'
  src url('../../static/fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype')

@font-face
  font-family 'Raleway-Regular'
  src url('../../static/fonts/Raleway/Raleway-Regular.ttf') format('truetype')

@font-face
  font-family 'Lora-Italic'
  src url('../../static/fonts/Lora/Lora-Italic.ttf') format('truetype')

@font-face
  font-family 'Lora-Regular'
  src url('../../static/fonts/Lora/Lora-Regular.ttf') format('truetype')