footer.main-footer.triangles-right
  .container
    .row
      .footer-logo.pull-left
        a(href='#')
          img(src='source/static/img/logo.png', alt='logo', width='164', height='34')
        p.text-muted.text-uppercase 2015 © lawyer.
        ul.footer-social.list-inline
          li
            a(href='#')
              i.fa.fa-facebook-f(aria-hidden='true')
          li
            a(href='#')
              i.fa.fa-google-plus(aria-hidden='true')
          li
            a(href='#')
              i.fa.fa-twitter(aria-hidden='true')
          li
            a(href='#')
              i.fa.fa-linkedin(aria-hidden='true')
      .footer-nav.pull-left
        p.md-title.text-white.text-uppercase Navigation
        ul.list-unstyled.text-uppercase
          li
            a(href='home.html')
              i.fa.fa-caret-right(aria-hidden='true')
              |                             Home
          li
            a(href='about.html')
              i.fa.fa-caret-right(aria-hidden='true')
              |                             About us
          li
            a(href='services.html')
              i.fa.fa-caret-right(aria-hidden='true')
              |                             Services
          li
            a(href='#')
              i.fa.fa-caret-right(aria-hidden='true')
              |                             Tesimonial
          li
            a.active-white(href='blog.html')
              i.fa.fa-caret-right(aria-hidden='true')
              |                             Blog
          li
            a(href='contact.html')
              i.fa.fa-caret-right(aria-hidden='true')
              |                             Contact us
      .footer-contact.pull-right
        p.md-title.text-white.text-uppercase Quick contact us
        form(action='', method='post')
          .row-fluid
            input.input-name(placeholder='Name', name='name', type='text')
            input.pull-right.input-email(placeholder='Email', name='email', type='email')
          .row-fluid
            input.input-comment(placeholder='Comment', name='comment', type='text')
          button.btn.btn-orange.btn-xs.mt-1.text-uppercase(type='submit') Submit now