.inner-header
  .container
    .row
      .header-logo.pull-left
        a(href='home.html')
          img(src='source/static/img/logo.png', alt='logotype', width='164', height='34')
      .header-phone.pull-left
        a.btn-phone.border(href='tel:9978 8856 999') +9978 8856 999
      .header-nav.pull-right
        ul.list-inline.text-uppercase
          li
            a(href='home.html') Home
          li
            a(href='about.html') About us
          li
            a(href='services.html') Services
          li
            a(href='news.html') News
          li
            a.active-orange(href='blog.html') Blog
          li
            a(href='#') Pages
          li
            a(href='contact.html') Contact us
      a.btn.btn-burger.pull-right(href='')
        i.fa.fa-bars(aria-hidden='true')
.banner-phone
  a.btn-phone.no-padding.h3(href='tel:9978 8856 999') +9978 8856 999