$accent-color              = #ffaf36
$dark-color                = #2a2b2c
$social-google-plus        = #eb4125
$social-twitter            = #00baef
$social-facebook           = #496fa5
$blue-color                = #36a8ff
$light-grey                = #dde4ea
$dark-grey                 = #333333
$pink-color                = #fef1de
$lighter-grey              = #dbefff
$medium-grey               = #d0d2d4

$OpenSans                  = 'OpenSans', sans-serif
$OpenSansL                 = 'OpenSans-Light', sans-serif
$OpenSansB                 = 'OpenSans-Bold', sans-serif
$OpenSansSB                = 'OpenSans-Semibold', sans-serif

$RWRegular                 = 'Raleway-Regular', sans-serif
$RWBold                    = 'Raleway-Bold', sans-serif
$RWExtraBold               = 'Raleway-ExtraBold', sans-serif

$LoraItalic                = 'Lora-Italic', serif
$LoraRegular               = 'Lora-Regular', serif