.page-error
  margin 100px 0
  p
    margin 0
    font-size 70px
    line-height 1
    font-family $OpenSansL
    +media($screen-xs-max)
      font-size 40px
    span
      color $blue-color
      font-family $OpenSansB
  .error-desc
    width 50%
    display block
    margin 20px auto
    padding 5px 10px
    border-radius 20px
    text-align center
    background-color $accent-color
    +media($screen-xs-max)
      width 80%
    +media($screen-xs-min)
      width 100%